VITE_API_URL="whatever-u-have"

VITE_FIREBASE_API_KEY="idwk"
VITE_FIREBASE_AUTH_DOMAIN="hehe"
VITE_FIREBASE_PROJECT_ID="hihi"
VITE_FIREBASE_STORAGE_BUCKET="haha"
VITE_FIREBASE_MESSAGING_SENDER_ID="huhu"
VITE_FIREBASE_APP_ID="hohoho"